@import '_config';
@import '_menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1, h2, h3 {
  margin: 0;
  // font-weight: 400;

  &.lg-heading { 
    font-size: 2rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($secondary-color, 2), 0.5);
  }
}

/* nav link styling removes underline */
a {
  color: #fff;
  text-decoration: none;
}

/* We need header menu to be always fixed and to stay upfront (z-index 2) */
header {
  position: fixed;  
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

// main 
main {
  // padding: 1rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      @include easeOut;

      /* hover over icons to be secondary color */
      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    overflow: hidden;  /* we don't want any scroll bar in home */
    h1 {  
      margin-top: 10vh;
      
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'mobile';






// Skill Bars
.skills {
  width: 500px;
  margin: 60px auto;
  // color: $secondary-color;

  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  li {
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0;

    h3 {
      margin: 0 0 0.5rem 0;
    }

    .bar-container {
      background-color: darken($primary-color, 10);
      height: 20px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 10px lighten($primary-color, 20);

      .bar {
        height: 100%;
        background-color: $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #333;
        border-radius: 10px 0 0 10px;
      }

      &.html .bar { width: 70%; animation: html 2s; }
      &.css .bar { width: 50%; animation: css 2s; }
      &.javascript .bar { width: 70%; animation: javascript 2s; }
      &.jquery .bar { width: 30%; animation: jquery 2s; }
    }
  }
}

@keyframes html {
  0% { width: 0%; }
  100% { width: 80%; }
}

@keyframes css {
  0% { width: 0%; }
  100% { width: 93%; }
}

@keyframes javascript {
  0% { width: 0%; }
  100% { width: 50%; }
}

@keyframes jquery {
  0% { width: 0%; }
  100% { width: 30%; }
}


